@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,600;1,400&display=swap");

html{
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;

}
.main{
    align-items: center;
}
.headline{
    margin-top: 100px ;
    text-align: center;
}
.form{
    width: 80%;
    text-align: center;
    display: block;
    margin: 20px auto;
}
.input{
    margin: 10px auto;
    padding: 5px 20px;
    border-radius: 4px;
    border: darkblue solid 1px;
}

.btn{
    margin: 10px auto;
    padding: 5px 20px;
    background-color: mediumblue;
    color: white;
    border-radius: 4px;
    border: darkblue solid 1px;
}
.btn:hover{
    background-color: #0000aa;
}
.output{
    text-align: center;
    display: block;
    margin: 20px auto;
}